.order-summary,
.order-payment {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.order-payment div {
  width: 400px;
  margin: 0 auto;
  background-color: #e1e5f2;
  padding: 1rem;
  border-radius: 5px;
}
